*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}

section{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 400px;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.32);
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.card h3{
    font-size: 2rem;
    margin: 1rem;
}

.card p, span{
    margin-top: 1rem;
}

.card .icons img{
    width: 30px;
    height: 30px;
    margin: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.721);
    cursor: pointer;
}

